@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.main-wrapper {
	margin-left: 400px;
	transition: 0.5s ease all;
}

.sidebar-off {
	transform: translateX(-410px) !important;
}

.expand-container {
	margin-left: 0;
	transition: 0.5s ease all;
}
.custom-navbar {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	width: 100%;
	justify-content: space-between;
	background-color: #0f2d5e;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}
.profileImg {
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;
	color: #000;
}
.profileImg img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 50%;
	border: 3px solid #fff;
}
.custom-navbar button img {
	filter: invert(1);
	width: 25px;
	height: auto;
	object-fit: contain;
}
.custom-navbar button {
	background-color: transparent;
	cursor: pointer;
	border: none;
}
.sidebar {
}
.sidebarHeader svg {
	width: 215px;
	height: auto;
	object-fit: contain;
}
.sidebarHeader {
	padding: 0 15px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: start;
	border-bottom: 1px solid #0f2d5e;
}

.adminCard a {
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
	display: flex;
	width: 100%;
}
.adminCard {
	display: none;
	padding: 15px;
	border: #0f2d5e 1px solid;
	z-index: 9;
	position: absolute;
	background-color: #fff;
	right: 15px;
	top: 70px;
	width: 200px;
	border-radius: 10px;
}
.adminCard.show {
	display: block;
}
.contentSection {
	padding: 50px 0;
}
.sidebarContent {
}
.sidebarContent a {
	display: flex;
	width: 100%;
	color: #0f2d5e;
	padding: 15px 10px;
	font-size: 14px;
	border-bottom: 1px solid #0f2d5e54;
	font-weight: 600;
}
